@use 'sass:math';
@use 'app';

.breeds-container {
    align-content: flex-start;    
    justify-content: space-evenly;
    margin: 2vh 2vw;
    width: app.$container-width;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: app.$container-background-color;
}

.breed-item {
    align-items: center;
    justify-content: center;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    width: 22%;
    min-height: 30vh;
    height: 20%;
    background-color: app.$item-background-color;
}

.breed-wiki {
    cursor: pointer;
}

.breed-name {
    display: flex;   
}

.breed-img-div {
    margin-top: 2vh;
}

.breed-img {
    height: 40%;
    width: 50%;    
}