@use 'sass:math';
@use 'app';

.breeds-container {
    align-content: flex-start;    
    margin: 2vh 2vw;
    width: app.$container-width;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: app.$container-background-color;
}

.breed-item {
    align-items: flex-start;
    justify-content: center;
    margin: 2vh 2vw;
    display: flex;
    width: 30%;
    min-height: 30vh;
    height: 20%;
    background-color: app.$item-background-color;
}